## Importing Libraries

In [1]:
import pandas as pd      #Useful for loading the data set
import numpy as np       #To perform array

## Load dataset

In [2]:
dataset=pd.read_csv("data.csv")

In [3]:
dataset

              x           y
0    168.181818  160.840244
1    187.878788  159.413657
2    207.575758  157.136809
3    227.272727  159.357847
4    246.969697  157.542862
..          ...         ...
89  1921.212121  172.285091
90  1940.909091  176.001331
91  1960.606061  176.128171
92  1980.303030  175.813257
93  2000.000000  175.530826

[94 rows x 2 columns]

- dataset variable set hold the complete information of dataset.

## Summarise the data

In [4]:
print(dataset.shape)
print(dataset.head(5))

(94, 2)
            x           y
0  168.181818  160.840244
1  187.878788  159.413657
2  207.575758  157.136809
3  227.272727  159.357847
4  246.969697  157.542862

- Here we get the complete information of dataset 
- dataset(dataset.shape) - It shows 94 Columns and 2 Rows
- dataset(dataset.shape) - It shows top 5 results of the dataset

## Segredate the data into X and Y

In [5]:
X=dataset.iloc[:, :-1].values

In [6]:
X

array([[ 168.1818182],
       [ 187.8787879],
       [ 207.5757576],
       [ 227.2727273],
       [ 246.969697 ],
       [ 266.6666667],
       [ 286.3636364],
       [ 306.0606061],
       [ 325.7575758],
       [ 345.4545455],
       [ 365.1515152],
       [ 384.8484848],
       [ 404.5454545],
       [ 424.2424242],
       [ 443.9393939],
       [ 463.6363636],
       [ 483.3333333],
       [ 503.030303 ],
       [ 522.7272727],
       [ 542.4242424],
       [ 562.1212121],
       [ 581.8181818],
       [ 601.5151515],
       [ 621.2121212],
       [ 640.9090909],
       [ 660.6060606],
       [ 680.3030303],
       [ 700.       ],
       [ 719.6969697],
       [ 739.3939394],
       [ 759.0909091],
       [ 778.7878788],
       [ 798.4848485],
       [ 818.1818182],
       [ 837.8787879],
       [ 857.5757576],
       [ 877.2727273],
       [ 896.969697 ],
       [ 916.6666667],
       [ 936.3636364],
       [ 956.0606061],
       [ 975.7575758],
       [ 995.4545455],
       [1015.151515 ],
       [1034.848485 ],
       [1054.545455 ],
       [1074.242424 ],
       [1093.939394 ],
       [1113.636364 ],
       [1133.333333 ],
       [1153.030303 ],
       [1172.727273 ],
       [1192.424242 ],
       [1212.121212 ],
       [1231.818182 ],
       [1251.515152 ],
       [1271.212121 ],
       [1290.909091 ],
       [1310.606061 ],
       [1330.30303  ],
       [1350.       ],
       [1369.69697  ],
       [1389.393939 ],
       [1409.090909 ],
       [1428.787879 ],
       [1448.484848 ],
       [1468.181818 ],
       [1487.878788 ],
       [1507.575758 ],
       [1527.272727 ],
       [1546.969697 ],
       [1566.666667 ],
       [1586.363636 ],
       [1606.060606 ],
       [1625.757576 ],
       [1645.454545 ],
       [1665.151515 ],
       [1684.848485 ],
       [1704.545455 ],
       [1724.242424 ],
       [1743.939394 ],
       [1763.636364 ],
       [1783.333333 ],
       [1803.030303 ],
       [1822.727273 ],
       [1842.424242 ],
       [1862.121212 ],
       [1881.818182 ],
       [1901.515152 ],
       [1921.212121 ],
       [1940.909091 ],
       [1960.606061 ],
       [1980.30303  ],
       [2000.       ]])

- Here we got the values of X

In [15]:
Y=dataset.iloc[:, -1].values

In [16]:
Y

array([160.8402438, 159.4136573, 157.1368088, 159.3578474, 157.5428616,
       157.7352072, 159.3475609, 155.2340456, 155.8077401, 158.3299704,
       157.6258529, 160.4769795, 158.2294064, 157.4178168, 163.3706915,
       160.184811 , 160.9683897, 158.1808067, 160.1385073, 161.6460876,
       159.319225 , 162.5695779, 160.8138741, 161.6287337, 161.2056777,
       166.310617 , 162.7760359, 160.8845781, 164.8420595, 160.9522521,
       164.0086363, 159.8685385, 161.3284764, 164.5755407, 165.855721 ,
       164.9184941, 164.5414307, 164.3674896, 162.2096227, 163.9239479,
       164.6393285, 167.8718202, 166.641782 , 162.6254348, 166.9966528,
       165.77529  , 165.3885802, 168.1627465, 169.1983627, 169.1958936,
       165.851868 , 167.108848 , 168.5867693, 170.0723024, 167.3598333,
       168.1438336, 166.4994513, 166.5166777, 170.7311123, 172.0155104,
       169.3559798, 171.7040355, 170.6172114, 168.8006696, 171.01067  ,
       173.5609216, 170.6101661, 174.0080752, 165.8362674, 172.9165323,
       171.6437911, 171.068652 , 172.0471579, 168.0854682, 171.818232 ,
       173.1687706, 175.6073032, 171.8119444, 171.4284673, 172.2389102,
       175.2701982, 174.2938659, 172.7738129, 175.0568379, 174.4214278,
       176.3615324, 173.2171059, 174.1628575, 174.2309352, 172.2850913,
       176.0013315, 176.1281712, 175.8132572, 175.5308257])

- Here we got the values of Y

## slitting data set for testing our model

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

- Here we our splitting our data for testing the model

## Training data set using Support vector regression

In [17]:
from sklearn.svm import SVR

In [18]:
model=SVR()

In [19]:
model.fit(X_train,y_train)

SVR()

- Here we our Training out data set using Support vector regression

In [22]:
y_pred=model.predict(X_test)
from sklearn.metrics import r2_score, mean_squared_error

In [23]:
mse=mean_squared_error(y_test,ypred)
rmse=np.sqrt(mse)
print("Root Mean Square Error :", rmse)
r2score=r2_score(y_test,y_pred)
print("R2score :",r2score*100)

Root Mean Square Error : 2.3594718758918574
R2score : 86.64242661766954

- Conclusion - Root Mean Square Error : 2.3594718758918574
R2score : 86.64242661766954